Source: dde-clipboard
Section: admin
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends: debhelper (>= 8.0.0),
 pkg-config,
 cmake,
 libdtk6widget-dev,
 libdtk6core-dev,
 libdtk6gui-dev,
 qt6-base-dev,
 qt6-base-private-dev,
 qt6-tools-dev-tools,
 libgio-qt-dev,
 extra-cmake-modules,
 kwayland-dev,
 systemd,
 systemd-dev | libsystemd-dev,
 libcups2-dev,
 libxcb-xkb-dev,
Standards-Version: 3.9.5
Homepage: https://github.com/linuxdeepin/dde-clipboard

Package: dde-clipboard
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 deepin-daemon,
 startgxde,
 gxde-api
Recommends: gxde-desktop
Description: deepin desktop-environment - clipboard module
 Clipboard module of deepin desktop-environment
